{% set localizedDe = null %}
{% set localizedEn = null %}

{% if entry is defined %}
	{% set localizedDe = craft.entries()
        .id(entry.id)
        .site('de')
        .status(null)
        .one()
    %}

	{% set localizedEn = craft.entries()
        .id(entry.id)
        .site('en')
        .status(null)
        .one()
    %}
{% endif %}

<div class="language-switch">
	{% if localizedEn %}
		<div class="language-switch__item {{ currentSite.handle == 'en' ? 'active' : '' }}">

			<a href="{{ localizedEn.url }}" aria-label="{{ 'Switch to English'|t }}">En</a>
		</div>
	{% endif %}

	<p class="language-switch__spacer">|</p>

	{% if localizedDe %}
		<div class="language-switch__item {{ currentSite.handle == 'de' ? 'active' : '' }}">

			<a href="{{ localizedDe.url }}" aria-label="{{ 'Switch to German'|t }}">De</a>
		</div>
	{% endif %}
</div>
