<div class="accessibility-menu__container ">


	<div class="accessibility-menu__header">
		<p class="button button-dark button-border accessibility-item__reset">{{ 'Zurücksetzen'|t }}</p>


		<p class="button button-dark button-border" id="accessibility-close">{{ 'Schließen'|t }}</p>
	</div>

	<div class="accessibility-menu__wrapper">


		<div class="accessibility-menu__item-wrapper  collapsible-element--container">

			<div class="accessibility-menu__item-header collapsible-element__main">


				<h3>{{ 'Text anpassen'|t }}</h3>
		
			</div>

			<div class="subsection-element__expansion collapsible-element__expansion">
				<div>
					<p class="item full accessibility-item__scale accessibility-menu__font-size-wrapper" id="accessibility-fontSize">
						<span class="decrease">
							-
						</span>
						<span class="button button-border button--nointeractive value" style="background: transparent;">100%</span>

						<span class="increase">
							+
						</span>
					</p>
					<p class="item accessibility-item__toggle button button-dark button-border" id="accessibility-highlightTitle">{{ 'Titel Hervorheben'|t }}</p>
					<p class="item accessibility-item__toggle button button-dark button-border" id="accessibility-highlightLinks">{{ 'Links Hervorheben'|t }}</p>
					<p class="item accessibility-item__toggle button button-dark button-border" id="accessibility-moreLineSpace">{{ 'Mehr Zeilenabstand'|t }}</p>
					<p class="item accessibility-item__toggle button button-dark button-border" id="accessibility-moreLetterSpace">{{ 'Mehr Zeichenabstand'|t }}</p>
					<p class="item accessibility-item__toggle button button-dark button-border" id="accessibility-biggerText">{{ 'Größerer Text'|t }}</p>
				</div>
			</div>


		</div>

		<div class="accessibility-menu__item-wrapper  collapsible-element--container">

			<div class="accessibility-menu__item-header collapsible-element__main">

				<h3>{{ 'Farben anpassen'|t }}</h3>
				
			</div>

			<div class="subsection-element__expansion collapsible-element__expansion">
				<div>
					<p class="item accessibility-item__toggle button button-dark button-border" id="accessibility-darkerContrast">{{ 'Dunkler Kontrast'|t }}</p>
					<p class="item accessibility-item__toggle button button-dark button-border" id="accessibility-lighterContrast">{{ 'Heller Kontrast'|t }}</p>
					<p class="item accessibility-item__toggle button button-dark button-border" id="accessibility-highContrast">{{ 'Hoher Kontrast'|t }}</p>
					<p class="item accessibility-item__toggle button button-dark button-border" id="accessibility-highSaturation">{{ 'Hohe Sättigung'|t }}</p>
					<p class="item accessibility-item__toggle button button-dark button-border" id="accessibility-littleSaturation">{{ 'Geringe Sättigung'|t }}</p>
					<p class="item accessibility-item__toggle button button-dark button-border" id="accessibility-monochromatic">{{ 'Monochromatisch'|t }}</p>
				</div>
			</div>


		</div>

		<div class="accessibility-menu__item-wrapper  collapsible-element--container">

			<div class="accessibility-menu__item-header collapsible-element__main">

				<h3>{{ 'Weitere Hilfen'|t }}</h3>
				
			</div>

			<div class="subsection-element__expansion collapsible-element__expansion">
				<div>
					<p class="item full accessibility-item__toggle button button-dark button-border" id="accessibility-readingGuide">{{ 'Lesehilfe'|t }}</p>
					<p class="item full accessibility-item__toggle button button-dark button-border" id="accessibility-noAnimations">{{ 'Keine Animationen'|t }}</p>
					<p class="item full accessibility-item__toggle button button-dark button-border" id="accessibility-bigCursor">{{ 'Großer Cursor'|t }}</p>
				</div>
			</div>


		</div>

	</div>
</div>
<div class="nav__background-overlay"></div>
