<footer class="footer">

	{% if globalsFooter.footerImagecards %}
		<div class="footer__image-cards">
			{% for imageCard in globalsFooter.footerImagecards %}
				<div class="image-card">
					<div class="image-container image-container--contain image-container--rounded">
						{% include "_modules/image" with { image: imageCard.image } %}
					</div>

					{% if imageCard.title %}
						<p class="hl-lg-italic">{{imageCard.title}}</p>
					{% endif %}

					{% if imageCard.buttonToPage.enabled %}
						{% set button = imageCard.buttonToPage %}
						{% set targetPage = button.linkToPage %}

						{% if targetPage %}
							{# <a href="{{ targetPage.url }}" class="{{ button.isCallToAction ? 'button--primary' : '' }}">
															{{ button.label }}
														</a> #}

							{% include "_modules/button-to-page" with { text: button.label ? button.label : button.linkToPage.element.title, linkedPage: button.linkToPage, callToAction: button.isCallToAction } %}

						{% endif %}
					{% endif %}

				</div>
			{% endfor %}
		</div>

	{% endif %}

	{% if globalsFooter.footerRows|length %}

		<div class="footer__rows">
			{% for row in globalsFooter.footerRows.all() %}
				{% set buttonMatrix = row.buttonMatrix.all() %}

				{% if buttonMatrix|length %}
					<div>
						{% for button in buttonMatrix %}
							{% set link = button.linkToPage %}
							{% set targetPage = link.element ?? null %}

							{% if targetPage %}
								{% set localizedTargetPage = craft.entries()
									.id(targetPage.id)
									.site(currentSite.handle)
									.one()
									%}

								{% if localizedTargetPage %}
									<a href="{{ localizedTargetPage.url }}">
										{{ button.label|trim ?: localizedTargetPage.title }}
									</a>
								{% endif %}
							{% elseif link %}
								<a href="{{ link.value }}">
									{{ button.label|trim ?: link.label }}
								</a>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
			{% endfor %}
		</div>

	{% endif %}

	{% if globalsFooter.socialLinks %}
		<div
			class="footer__social-links">
			{# {% for link in globalsFooter.socialLinks.all() %}
																																											{% set targetPage = link.linkGeneral %}
																																											{% set image = link.image.one() %}
																																							
																																											{% if targetPage %}
																																												<a href={targetPage.url} target="_blank">
																																													{% if image %}
																																														<img src="{{ image.getUrl('image800x') }}" alt={{image.altText}}>
																																													{% endif %}
																																							
																																													{% if link.title %}
																																														<span>{{link.title}}</span>
																																													{% endif %}
																																												</a>
																																											{% endif %}
																																										{% endfor %} #}

			<a href="https://www.instagram.com/manhattan.club_/?hl=de">
				{% include "_svgs/icon-instagram"%}
				<p>Instagram</p>
			</a>

			<a href="https://www.instagram.com/manhattan.club_/?hl=de">
				{% include "_svgs/icon-facebook"%}
				<p>Facebook</p>
			</a>


		</div>
	{% endif %}

	{% if globalsFooter.copyright %}
		<div class="footer__copyright">
			<p>{{globalsFooter.copyright}}</p>
		</div>
	{% endif %}


</footer>
