{% set location = location ?? null  %}
{% set card = location.locationCard  %}
{% set showImage = showImage ?? true %}
{% set oneShown = oneShown ?? false %}

{% if location %}

	<div class="location-card item-switch__item card grid-span-6 {{ oneShown ? " card--oneshown" : " " }}" data-value="{{ location.title }}">

		{% if showImage %}
			<div class="image-container">
				{% include "_modules/image" with { image: card.image } %}
			</div>
		{% endif %}

		<div class="location-card__wrapper card__wrapper">
			<h3 class="hl-lg--bold">{{ location.title }}</h3>
			<div class="card__info">
				<p>{{ 'Addresse'|t }}</p>
				<p>{{ card.address }}</p>
			</div>
			<div class="card__info">
				<p>{{ 'Tel'|t }}</p>
				<p>{{ card.phoneNumber }}</p>
			</div>
			<div class="card__info">
				<p>{{ 'E-Mail'|t }}</p>
				<p>{{ card.email }}</p>
			</div>
			<div class="card__info">
				<p>{{ 'Öffnungszeiten'|t }}</p>
				<div>{{ card.openingHours }}</div>
			</div>
			<div class="card__additional-info">
				<p class="text-xs-grey ">{{ card.additionalInfoText }}</p>
			</div>
		</div>
	</div>

{% endif %}
