{% set trainers = craft.entries()
.section('trainer')
.site(currentSite.handle)
    .all()
%}

<section class="trainers">

	{% if matrixItem.title %}
		<h2 class="hl-xl grid-1-9">{{matrixItem.title }}</h2>
	{% endif %}

	{% if trainers|length %}
		<div class="grid-full subsection card-grid">
			{% for trainer in trainers %}
				<div class="card card-grid__item">
					<div class="image-container image-container--contain">
						{% include "_modules/image" with { image: trainer.image } %}
					</div>

					<div class="card__wrapper">
						{% if trainer.nameElement or trainer.title %}
							<h3 class="hl-lg--bold">
								{{ trainer.nameElement }}
							</br>
							{{ trainer.title }}
						</h3>
					{% endif %}

					{% if trainer.clubSelection|length %}
						{% include "_modules/button-locations" with { tags: trainer.clubSelection } %}

					{% endif %}

					{% if trainer.email %}
						<div class="card__info card__info--break">
							<p>{{ 'E-Mail'|t }}</p>
							<p>{{ trainer.email }}</p>
						</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}

	</div>

{% else %}
	<p>{{'There are currently no trainers to display.'|t}}</p>
{% endif %}</section>
