{% set groupClasses = craft.entries()
	.section('groupClass')
.site(currentSite.handle)
    .all()
%}

{% set groups = craft.categories()
  .group('group')
  .site(currentSite.handle)
  .all()
%}

{% set groupsEntry = craft.entries()
  .section('groups')
  .site(currentSite.handle)
  .one()
%}


<section class="course-slider">


	<div class="grid-1-9 ml-fix-xl mr-fix-xl">
		{% if matrixItem.title %}
			<h2 class="hl-xl grid-1-9">{{matrixItem.title }}</h2>
		{% endif %}
		{% if matrixItem.textfield %}
			<p>
				{{matrixItem.textfield }}
			</p>
		{% endif %}
	</div>

	{% if groups|length %}
		<div
			class="simple-slider grid-full">

			{# <div class="simple-slider__controls">
																																																																																					<button class="simple-slider__arrow-prev">prev</button>
																																																																																					<button class="simple-slider__arrow-next">next</button>
																																																																																				</div> #}

			<div>

				<div class="simple-slider__track course-slider__track">
					{% for group in groups %}
						<a href="{{ groupsEntry.url }}#{{group.title|kebab}}" class="simple-slider__slide image-card course-slider__item">

							{% if group.title %}
								<h3>{{ group.title }}</h3>
							{% endif %}

							<div class="image-container image-container--contain image-container--rounded">
								{% include "_modules/image" with { image: group.image } %}
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>

	{% else %}
		<p>{{'There are currently no courses to display.'|t}}</p>
	{% endif %}


	{% if matrixItem.buttonMatrix|length %}
		<div class="grid-full section-margin">
			{% include "_modules/button-matrix" with { matrix: matrixItem.buttonMatrix } %}
		</div>
	{% endif %}

</section>
