{% set clubs = craft.entries()
	.section('club')
	.level(1)
    .site(currentSite.handle)
    .all()
%}

{% set receiveEmails = (clubs ?? [])
    |filter(club => (club.clubCard.email ?? '')|trim)
    |map(club => club.clubCard.email)
%}

{% if clubs|length %}
	<section class="contact-form item-switch">

		<div class="grid-full">
			{% include "_modules/club-switch" with { displayedClubs: clubs }%}
		</div>

		{% if matrixItem.title %}
			<div class="flex-row-center grid-1-7">
				<div class="icon--no-shrink">
					{% include "_svgs/icon-info"%}
				</div>
				<h2 class="hl-lg--bold ">{{matrixItem.title }}</h2>
			</div>
		{% endif %}

		{% for club in clubs %}
			<form class="grid-1-9 item-switch__item" action="" data-value="{{ club.title }}">

				<label name="name">
					<input type="text" name="name" placeholder="{{'Vorname'|t}}">
				</label>

				<label name="surname">
					<input type="text" name="surname" placeholder="{{'Nachname'|t}}">
				</label>


				<label name="email">
					<input type="text" name="email" placeholder="{{'E-Mail'|t}}">
				</label>


				<label name="phone">
					<input type="text" name="phone" placeholder="{{'Telefon'|t}}">
				</label>

				<label name="phone">
					<input type="text" name="phone" placeholder="{{'Ihr Wunschtermin'|t}}">
				</label>

				<label name="consent" class="input--checkbox input--small">
					<input type="checkbox" name="consent">
					<p>Ich bin einverstanden, dass meine Daten zum Zweck der Verarbeitung meiner Anfrage verarbeitet werden. Details</p>
				</label>


				<button class="button button--primary" type="submit">{{ 'Abschicken'|t }}</button>
			</form>
		{% endfor %}


	</section>
{% endif %}
