<section class="hardfacts">

	{% if matrixItem.title %}
		<h2 class="hl-xl grid-1-9">{{matrixItem.title }}</h2>
	{% endif %}

	{% if matrixItem.hardfactsMatrix|length %}

		<div class="hardfacts__container grid-full">

			{% for hardfact in matrixItem.hardfactsMatrix.all() %}
				{% set list = (hardfact.list ?? [])|filter(item => item.text|trim) %}

				{% set imageWidthClasses = {
						1: 'grid-1-4',
						2: 'grid-1-6',
						3: 'grid-1-9',
					} 
					%}
				{% set imageWidth = imageWidthClasses[hardfact.imageWidth] ?? 'grid-1-9' %}


				<div class="hardfacts__item subsection">
					{% if hardfact.showImage %}
						<div class="image-container image-container--contain image-container--rounded {{ imageWidth }}">
							{% include "_modules/image" with { image: hardfact.image } %}
						</div>
					{% endif %}

					{% if hardfact.title %}
						<div class="hardfacts__title grid-1-9">
							{% include "_svgs/icon-check"%}
							<h2 class="hl-lg--bold">{{hardfact.title }}</h2>
						</div>
					{% endif %}

					{% if hardfact.textfield %}
						<div class="grid-1-9">{{hardfact.textfield }}</div>

					{% endif %}

					{% if list|length %}
						<ul class="grid-1-9">

							{% for item in list %}
								<li>
									<p>{{item.text}}</p>
								</li>
							{% endfor %}
						</ul>
					{% endif %}

					{% if hardfact.buttonMatrix|length %}
						{% include "_modules/button-matrix" with { matrix: hardfact.buttonMatrix } %}
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endif %}


</section>
