{% set groups = craft.categories()
  .group('group')
  .site(currentSite.handle)
  .all()
%}

{% set groupClasses = craft.entries()
	.section('groupClass')
	.site(currentSite.handle)
    .all()
%}


<section class="courses">
	{% if matrixItem.title %}
		<h2 class="hl-xl grid-1-9">{{matrixItem.title }}</h2>
	{% endif %}

	{% if groupClasses|length %}
		<div class="grid-1-9 courses__container">

			{% for group in groups %}
				<div class="courses-item">
					<div class="courses-item__image">

						<div class="image-card">
							<h3>{{ group.title }}</h3>

							<div class="image-container image-container--rounded image-container--contain">
								{% include "_modules/image" with { image: group.image } %}
							</div>
						</div>
					</div>

					<div class="courses-item__text">

						<h3>{{ group.description }}</h3>

						{% set classesForGroup = groupClasses|filter(groupClass =>
							groupClass.groups.all()|filter(selectedGroup => selectedGroup.id == group.id)|length
						) %}

						{% if classesForGroup|length %}
							<ul class="list">
								{% for groupClass in classesForGroup %}
									<li>
										<a href="{{ groupClass.url }}">
											{% include "_svgs/icon-arrow-right"%}
											<p>
												{{groupClass.title}}
											</p>
										</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}


					</div>

				</div>
			{% endfor %}

		</div>

	{% else %}
		<p>{{'There are currently no courses to display.'|t}}</p>
	{% endif %}

</section>
