{% set locations = craft.entries()
	.section('club')
	.level(1)
    .site(currentSite.handle)
    .all()
%}

{% set receiveEmails = (locations ?? [])
    |filter(location => (location.locationCard.email ?? '')|trim)
    |map(location => location.locationCard.email)
%}


{% if locations|length %}
	<section class="contact-form">

		<div class="grid-full">
			{% include "_modules/location-switch" with { displayedLocations: locations }%}
		</div>

		{% if matrixItem.title %}
			<div class="flex-row-center grid-1-7">
				{% include "_svgs/icon-info"%}
				<h2 class="hl-lg ">{{matrixItem.title }}</h2>
			</div>
		{% endif %}


		<form class="grid-1-9" action="">
			<label for="name">
				<input type="text" name="name" placeholder="{{'Vorname'|t}}">
			</label>

			<label for="surname">
				<input type="text" name="surname" placeholder="{{'Nachname'|t}}">
			</label>


			<label for="email">
				<input type="text" name="email" placeholder="{{'E-Mail'|t}}">
			</label>


			<label for="phone">
				<input type="text" name="phone" placeholder="{{'Telefon'|t}}">
			</label>

			<button class="button button--primary" type="submit">{{ 'Abschicken'|t }}</button>
		</form>


	</section>
{% endif %}
