{% set trainers = craft.entries()
.section('trainer')
.site(currentSite.handle)
    .all()
%}

<section class="trainers">

	{% if matrixItem.title %}
		<h2 class="hl-xl grid-1-9">{{matrixItem.title }}</h2>
	{% endif %}

	{% if trainers|length %}
		<div class="grid-1-9">

			{% for trainer in trainers %}
				<div>

					<div>
						{% include "_modules/image" with { image: trainer.image } %}
					</div>

					{% if trainer.title %}
						<h3>{{ trainer.title }}</h3>
					{% endif %}

					{% if trainer.clubSelection|length %}
						<div>
							{% for location in trainer.clubSelection.all() %}
								<a href='{{location.url}}'>{{location.title}}</a>
							{% endfor %}
						</div>
					{% endif %}

					{% if trainer.email %}
						<h3>{{ trainer.email }}</h3>
					{% endif %}

				</div>
			{% endfor %}

		</div>

	{% else %}
		<p>{{'There are currently no trainers to display.'|t}}</p>
	{% endif %}

</section>
