{% set groupClasses = craft.entries()
	.section('groupClass')
.site(currentSite.handle)
    .all()
%}


<section class="courses">
	{% if matrixItem.title %}
		<h2 class="hl-xl grid-1-9">{{matrixItem.title }}</h2>
	{% endif %}

	{% if groupClasses|length %}
		<div class="grid-1-9 courses__container">

			{% for course in groupClasses %}
				<div class="courses-item">
					<div class="courses-item__image">

						<a class="image-card" href="{{ course.url }}">
								<h3>{{ course.title }}</h3>

								<div class="image-container image-container--rounded image-container--contain">
									{% include "_modules/image" with { image: course.headerModule.image } %}
								</div>
						</a>
					</div>

					<div class="courses-item__text">

						<h3>{{ course.description }}</h3>

						{% if course.subcourses|length %}
							<ul class="list">
								{% for subcourse in course.subcourses.all() %}
									<li>
										{% include "_svgs/icon-arrow-right"%}
										<p>
											{{subcourse.title}}
										</p>
									</li>
								{% endfor %}
							</ul>
						{% endif %}


					</div>

				</div>
			{% endfor %}

		</div>

	{% else %}
		<p>{{'There are currently no courses to display.'|t}}</p>
	{% endif %}

</section>
