{% set locations = craft.entries()
	.section('club')
	.level(1)
    .site(currentSite.handle)
    .all()
%}

<nav class="menu">

	<div class="menu__btn button-switch button-switch--menu">
		<button class="menu__btn--menu button-switch__item button button--primary" data-type="nav">{{ "Menü"|t }}</button>
		<button class="menu__btn--trial button-switch__item button button--primary" data-type="trial">{{ "Probetraining"|t }}</button>
	</div>

	<div class="menu__content menu__content--nav">

		<div class="menu__content__wrapper">

			{% if globals.websiteTitle %}
				<a href="{{ home.url }}">
					<h1 class="menu__content__title">{{globals.websiteTitle}}</h1>
				</a>
			{% endif %}

			{% if locations|length %}
				<div>
					{% for location in locations %}
						<a class="menu__link-item" href="{{ location.url }}">{{ location.title }}</a>
						{% if not loop.last %}
							|
						{% endif %}

					{% endfor %}
				</div>
			{% endif %}


			{% if globalsNav.navigation|length %}
				<ul>
					{% for navItem in globalsNav.navigation %}
						<li>
							<a href="{{navItem.url}}">
								{{navItem.title}}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}

			{% include "_components/language-switch.twig" %}

			<div class="menu__content__footer">
				<button class="button-icon menu__close-button">
					{% include "_svgs/icon-close"%}
				</button>

				{% if globalsNav.buttonToPage %}
					{% set button = globalsNav.buttonToPage %}
					{% include "_modules/button-to-page" with { text: button.label ? button.label : button.linkToPage.element.title, linkedPage: button.linkToPage, callToAction: button.isCallToAction } %}
				{% endif %}
			</div>

		</div>
	</div>

	<div class="menu__content menu__content--trial">
		<div class="menu__content__wrapper">

			<div class="logo--sm">
				{% include "_svgs/logo.twig" %}
			</div>


			{% if globalsNav.headline %}
				<h3 class="hl-lg">{{globalsNav.headline}}</h3>
			{% endif %}

			{% if globalsNav.textfield %}
				<p class="menu__content__">{{globalsNav.textfield}}</p>
			{% endif %}

			<div class="menu__content__footer">
				<button class="button-icon menu__close-button">
					{% include "_svgs/icon-close"%}
				</button>

				{% if locations|length %}
					<div>
						{% for location in locations %}

							{% if globalsNav.buttonToPage %}
								{% set button = globalsNav.buttonToPage %}
								{% include "_modules/button-to-page" with { text: location.title, linkedPage: button.linkToPage, classes: "button--outline button--params", value: location.title , noLink: true } %}
							{% endif %}

						{% endfor %}
					</div>
				{% endif %}

			</div>

		</div>
	</div>

</nav>
